[submodule "lib/ether-email-auth"]
	path = lib/ether-email-auth
	url = https://github.com/zkemail/ether-email-auth
	branch = feat/contracts-protocol-fix
[submodule "lib/email-wallet-sdk"]
	path = lib/email-wallet-sdk
	url = https://github.com/zkemail/email-wallet-sdk
